@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,500;0,800;1,400;1,800&family=Merriweather+Sans:ital,wght@0,400;0,700;1,300;1,800&display=swap');
:root {
  --light: hsl(250, 15%, 93%);
  --grey1: hsl(250, 15%, 84%);
  --grey2: hsl(250, 13%, 76%);
  --grey3: hsl(250, 13%, 67%);
  --grey4: hsl(250, 10%, 59%);
  --grey5: hsl(250, 8%, 51%);
  --grey6: hsl(250, 10%, 43%);
  --grey7: hsl(250, 13%, 34%);
  --grey8: hsl(250, 13%, 26%);
  --grey9: hsl(250, 15%, 18%);
  --dark: hsl(250, 15%, 10%);
  --ltred: hsl(0, 80%, 75%);
  --ltorange: hsl(25, 80%, 70%);
  --ltyellow: hsl(50, 85%, 75%);
  --ltlime: hsl(85, 70%, 75%);
  --ltgreen: hsl(140, 65%, 65%);
  --ltteal: hsl(170, 65%, 70%);
  --ltblue: hsl(220, 80%, 70%);
  --dkindigo: hsl(245, 80%, 75%);
  --ltpurple: hsl(260, 80%, 75%);
  --ltpink: hsl(310, 65%, 75%);
  --ltbrown: hsl(25, 35%, 65%);
  --red: hsl(0, 80%, 50%);
  --orange: hsl(25, 80%, 50%);
  --yellow: hsl(50, 85%, 60%);
  --lime: hsl(85, 70%, 50%);
  --green: hsl(140, 65%, 45%);
  --teal: hsl(170, 75%, 45%);
  --blue: hsl(220, 70%, 50%);
  --indigo: hsl(245, 60%, 50%);
  --purple: hsl(260, 70%, 50%);
  --pink: hsl(310, 65%, 60%);
  --brown: hsl(25, 35%, 40%);
  --dkred: hsl(0, 75%, 25%);
  --dkorange: hsl(25, 70%, 35%);
  --dkyellow: hsl(50, 70%, 40%);
  --dklime: hsl(85, 70%, 30%);
  --dkgreen: hsl(140, 50%, 25%);
  --dkteal: hsl(170, 55%, 30%);
  --dkblue: hsl(220, 80%, 25%);
  --dkindigo: hsl(245, 70%, 30%);
  --dkpurple: hsl(260, 65%, 30%);
  --dkpink: hsl(310, 65%, 35%);
  --dkbrown: hsl(25, 25%, 20%);
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  padding-left: 2ch;
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
  color: var(--dark);
  background-color: var(--light);
}

textarea {
  resize: none;
}

.error {
  font-size: 1.2rem;
  color: var(--dkred);
}

label, input[type=text] {
  margin-block-end: 0.5em;
  display: inline-block;
}

textarea, select, input[type=text]  {
  padding: 8px;
  box-shadow: inset 0px 1px 3px 1px var(--blue);
  border-radius: 0.5em;
  border-color: var(--ltblue);
  border-width: 0;
}